<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
{{> header}}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam architecto commodi debitis delectus distinctio doloribus ea explicabo fuga nemo, nesciunt non perspiciatis quam quas, soluta suscipit temporibus, velit vero?</p>
{{> footer}}
</body>
</html>